/*
* This is a manifest file that includes stylesheets for spree_frontend
 *= require spree/frontend/frontend_bootstrap
 *= require_self
 *= require_tree .
*/

/*Logo font*/
@import url(https://fonts.googleapis.com/css?family=Cantata+One);
/*font-family: 'Cantata One', serif;*/
/*h1 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }*/

/*Italiana font*/
@import url(https://fonts.googleapis.com/css?family=Italiana);
/*font-family: 'Italiana', serif;*/
/*h1 { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }*/
  
/*Common font*/

* {
  /*font-style: @font-face;*/
  font-family: 'Cantata One', serif;
  /*font-family: 'Droid Serif', serif;*/
}

.logo-text {
  font-size: 1.5em;
  font-family: 'Cantata One', serif;
  font-weight: 400;
}

a.list-group-item {
  border: none;
}

#spree-header #header {
  padding: 0 0;
  background: #fff;
}

#spree-header {
  background: #fff !important;
  /*background-size: cover; */
  margin-bottom: 20px;
}

#main-nav-bar li a {
  color: #ccc !important;
}